{% extends "base.html" %}
{% load static %}
{% load questentry_extras %}

{% block title %}{{ object.user.username }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
<script src="{% static 'lib/require.js' %}" data-main="{% static 'user/js/profile-main.js' %}"></script>
{% endblock %}

{% block content %}

<ul id="quests-nav">
{% for quest_type, quest_description in view.get_quest_types %}<li onclick="location.hash='{{ quest_type }}'"><a href="#{{ quest_type }}">{{ quest_description }}</a></li>{% endfor %}
</ul>

<div id="quests-container">
{% for quest_type, quest_description in view.get_quest_types %}
    <div id="{{ quest_type }}" data-quests-active="False">
        <h2>{{ quest_description }}</h2>
        <h3>Active</h3>
        {% if user.is_authenticated and view.get_user_id == user.id %}
            {% include 'user/questentry_list_owner.html' with list=object.questentry_set|in_category:quest_type|completion_status:False %}
        {% else %}
            {% include 'user/questentry_list_anon.html' with list=object.questentry_set|in_category:quest_type|completion_status:False %}
        {% endif %}
        <h3>Completed</h3>
        {% if user.is_authenticated and view.get_user_id == user.id %}
            {% include 'user/questentry_list_owner.html' with list=object.questentry_set|in_category:quest_type|completion_status:True %}
        {% else %}
            {% include 'user/questentry_list_anon.html' with list=object.questentry_set|in_category:quest_type|completion_status:True %}
        {% endif %}
        {% if user.is_authenticated and view.get_user_id == user.id %}
            <h3>Undiscovered</h3>
            <p class="quests-undiscovered-dropdown quest-command-neutral" data-quest-type="{{ quest_type }}">+</p>
            <div class="quests-undiscovered" data-quest-type="{{ quest_type }}">
                {% for quest in view.get_undiscovered_quests|in_category:quest_type %}
                    {% include 'user/quest_detail.html' %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}
</div>

{% endblock %}