#quests-nav {
    display: inline-block;
    margin: 0;
    list-style: none;
    padding: 0;
    border: 1px solid white;
    border-radius: 1em;
}

#quests-nav > li {
    list-style: none;
    margin: 0;
    padding: 0.5em;
    display: inline-block;
}

#quests-nav li:first-child {
    border-radius: 1em 0 0 1em;
}

#quests-nav li:last-child {
    border-radius: 0 1em 1em 0;
}

#quests-nav > li:hover {
    cursor: pointer;
    background-color: white;
}

#quests-nav > li:hover > a {
    color: #00008B;
}

#quests-nav > li > a {
    margin: 0;
    color: white;
    text-decoration: none;
}

[data-quests-active=True] {
    display: block;
}

[data-quests-active=False] {
    display: none;
}

.quests-undiscovered-dropdown,
.quest-command-positive,
.quest-command-negative,
.quest-command-neutral {
    display: inline-block;
    border-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-radius: 1em;
    text-decoration: none;
    padding: 0 0.5em;
    vertical-align: middle;
    width: 2em;
    height: 1.2em;
    line-height: 1.2em;
    padding: 0;
    text-align: center;
}

.quest-command-positive {
    border-color: #0F0;
    color: #0F0;
}

.quest-command-positive:hover {
    background-color: #060;
}

.quest-command-negative {
    border-color: #F00;
    color: #F00;
}

.quest-command-negative:hover {
    background-color: #600;
}

.quest-command-neutral {
    border-color: #FF0;
    color: #FF0;
}

.quest-command-neutral:hover {
    background-color: #660;
}

.quests-undiscovered-dropdown {
    margin-top: 0;
    border-color: #DDD;
    color: #DDD;
}

.quests-undiscovered-dropdown:hover {
    cursor: pointer;
    background-color: #666;
}

.quests-undiscovered {
    display: none;
}