body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    text-align: center;
}

section {
    text-align: left;
    color: white;
}

@media screen and (min-width: 1024px) {

    section {
        margin: 0 auto;
        width: 1024px;
    }
}

a {
    color: red;
    text-decoration: none;
}